.landing_page_container {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto 1rem auto;
}

.landing_page_image_container {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
    background-image: url("../../images//landing_page.png");
    background-size: cover;
    /* opacity: 0.8; */
    background-color: rgba(0, 0, 0, 0.5);
}

.landing_page_image_header {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 75px;
    text-align: center;
    letter-spacing: -1.07143px;
    color: #FFFFFF;
    margin-top: -17%;
    max-width: 70%
}

.landing_page_image_sub_header {
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
}

.bucket_list_page_search_container {
    background: #fafafa;
    padding: 15px;
    background: linear-gradient(30.13deg, #ececf4 14.92%, rgb(204 204 225 / 83%) 99.51%);
    border: 1px solid #FCFCFD;
    backdrop-filter: blur(21.7463px);
    border-radius: 16px;
    margin: -100px 10px 50px 10px;
    z-index: 2;
    width: 80%
}


.landing_dropdown_content {
    display: none;
    position: absolute;
    margin-top: -17rem;
    background-color: #f9f9f9;
    width: 100%;
    max-height: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    overflow-y: auto;
    /* z-index: 100; */
    /* border-top-right-radius: 10px; */
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    /* border-bottom-right-radius: 20px; */
}


.bucket_list_page_search_form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


.bucket_list_page_search_input {
    width: 80%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #e2e0e0;
    padding: 0px 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
    margin-right: 20px;
    text-shadow: 0px 0px 10px rgba(216, 216, 216, 0.5);
}

.bucket_list_page_search_input:focus {
    outline: none;
}

.bucket_list_page_search_button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #92A5EF;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    outline: none;
    display: flex;
    align-content: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.bucket_list_page_search_button:hover {
    background: #4b61b9;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.landing_page_header {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    max-width: 800px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.96px;
    color: #23262F;
    margin: 1rem auto;
}

.landing_page_sub_header {
    max-width: 700px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #777E90;
    margin: 0.5rem auto;
}

.landing_page_services {
    margin: 1rem;
    padding: 30px;
}

.landing_page_services_row_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.landing_page_services_row {
    margin: 0.5rem;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 300px;
}

.image_container {
    width: 250px;
    height: 120px;
    margin-right: 10px;
}

.image {
    width: 100%;
    height: 100%;
}

.how_container {
    width: 100%;
    background: rgba(225, 244, 255, 0.233);
    padding: 20px;
}

.how_inner_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.how_inner_container_40 {
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.how_inner_container_60 {
    width: 50%;
    padding: 20px;
}

.how_image_container {
    height: 500px;
    width: 370px;
    border-radius: 20px;
    overflow: hidden;
    margin: 25px auto;
}

.red_tag {
    width: 42px;
    height: 24px;
    align-items: center;
    background: #DF7256;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.how_card {
    margin: 0.8rem;
}

.how_card_header {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #23262F;
}

.early_birds_header {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    margin-bottom: 1rem;
}

.how_card_sub_heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #777E90;
}

.early_birds_sub_heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
}

.early_birds {
    width: 100%;
    background: rgba(242, 107, 77, 0.774);
    overflow: hidden;
    /* padding: 20px; */
}

.early_birds_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
}

.early_birds_container_40 {
    width: 40%;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.early_birds_container_60 {
    width: 50%;
    /* padding: 20px; */
}

.input {
    display: block;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 0.6rem;
    font-size: 1rem;
    border-radius: 10px;
    outline: none;
    border: 2px solid #ccc;
    width: 300px;
    color: #000;
    transition: all 0.3s ease-in-out;
}

.input:focus {
    border: 2px solid rgb(170, 5, 5);
    transition: all 0.3s ease-in-out;
}


.button {
    display: block;
    margin-top: 7px;
    margin-bottom: 25px;
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 40px;
    outline: none;
    /* border: 2px solid #ccc; */
    color: #FCFCFD;
    transition: all 0.3s ease-in-out;
    width: 170px;
    height: 48px;
    background: #7386d3;
    border-radius: 90px;
    border: none;
    outline: none;
    cursor: pointer;
}

.button:hover {
    background: #2b44a8;
    color: #FCFCFD;
    transition: all 0.3s ease-in-out;
}

.explore {
    margin-top: 2.5rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.explore_card_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.explore_card {
    margin: 0.5rem;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
}

.explore_image_container {
    width: 260px;
    height: 360px;
}

.explore_image {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.explore_card_title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #23262F;
    margin-top: 10px;
}

.explore_card_location {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #777E90;
}

.next_stop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.category_tag_container {
    width: 90%;
    padding: 0 2rem;
    display: flex;
    /* flex-flow: wrap; */
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-self: center;
    overflow: hidden;
}

.category_clicked {
    min-width: 150px;
    min-height: 180px;
    padding: 0.5rem;
    color: #000;
    cursor: pointer;
    margin: 0.5rem;
    background: #FCFCFD;
    border: 2px solid #F4F5F6;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.category_clicked:hover {
    background: #23262F;
    color: #fff;
    transition: all 0.2s ease-in-out;
}


.scroll_button {
    margin-bottom: 20px;
}

.scroll_button_tag {
    padding: 0.5rem;
    border-radius: 20px;
    background: #ededf1;
    color: #000;
    cursor: pointer;
    margin: 0.5rem;
    transition: all 0.2s ease-in-out;
    border: 1px solid #c3c9e2;
}

.scroll_button_tag:hover {
    background: #23262F;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

.category_symbol {
    margin-bottom: 15px;
    font-size: 40px;
    color: #23262F;
}

.category_title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    /* color: #23262F; */
}

.number_of_cat_list {
    position: absolute;
    padding: 5px;
    left: 10px;
    top: 10px;
    background: #353945;
    color: #fff;
    border-radius: 10px;
    font-size: 10px;
}

/* newsletter */
.newsletter {
    margin-top: 2rem;
}

.newsletter_header {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #000;
    margin-bottom: 1rem;
}

.newsletter_sub_heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #777E90;
}

.number_tag {
    margin-bottom: 20px;
    margin-top: 10px;
}

.number_tag_1 {
    padding: 7px 15px;
    background: #CDB4DB;
    border-radius: 10px;
    margin-right: 5px;
}

.number_tag_2 {
    padding: 7px 15px;
    background: #8BC5E5;
    border-radius: 10px;
    margin-right: 5px;
}

@media screen and (max-width: 900px) {
    .landing_page_image_header {
        font-size: 55px;
        line-height: 60px;
        margin-top: -20%;
        max-width: 70%
    }
}

@media screen and (max-width: 770px) {
    .landing_page_image_header {
        font-size: 55px;
        line-height: 60px;
        margin-top: -25%;
        max-width: 70%
    }
}

@media screen and (max-width: 760px) {
    .how_image_container {
        height: 450px;
        width: 315px;
    }
}

@media screen and (max-width: 700px) {
    .landing_page_image_header {
        font-size: 50px;
        line-height: 60px;
        margin-top: -30%;
        max-width: 70%
    }
}

@media screen and (max-width: 650px) {
    .how_inner_container {
        flex-direction: column-reverse;
        justify-content: column;
        align-items: center;
    }

    .how_inner_container_40,
    .how_inner_container_60 {
        width: 90%;
    }

    .early_birds_container {
        flex-direction: column;
        justify-content: column;
        align-items: center;
    }

    .early_birds_container_40,
    .early_birds_container_60 {
        width: 90%;
    }

    .early_birds_container_40 {
        margin-top: 2rem;
    }

    /* 
    .bucket_list_page_search_container {
        width: 400px;
    } */

    /* .bucket_list_page_search_form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } */

    .bucket_list_page_search_input {
        width: 90%;
        height: 40px;
        margin-bottom: 10px;
    }

    .bucket_list_page_search_button {
        margin-left: 5px;
    }
}

@media screen and (max-width: 630px) {
    .landing_page_image_header {
        font-size: 45px;
        line-height: 55px;
        margin-top: -33%;
        max-width: 70%
    }
}

@media screen and (max-width: 600px) {
    .landing_page_header {
        font-size: 30px;
        line-height: 35px;
    }

    .landing_page_sub_header {
        font-size: 14px;
        line-height: 25px;
    }
}

@media screen and (max-width: 560px) {
    .landing_page_image_header {
        font-size: 45px;
        line-height: 55px;
        margin-top: -40%;
        max-width: 80%
    }
}

@media screen and (max-width: 500px) {
    .category_clicked {
        min-width: 100px;
        min-height: 120px;
    }
}

@media screen and (max-width: 420px) {
    /* .bucket_list_page_search_container {
        width: 300px;
    } */
}

@media screen and (max-width: 400px) {
    .how_image_container {
        height: 300px;
        width: 200px;
    }

    .category_symbol {
        margin-bottom: 10px;
        font-size: 30px;
    }

    .category_title {
        font-size: 14px;
    }

}

@media screen and (max-width: 380px) {
    .landing_page_image_header {
        font-size: 35px;
        line-height: 50px;
        margin-top: -80%;
        max-width: 80%
    }
}

@media screen and (max-width: 360px) {
    .landing_page_header {
        max-width: 240px;
        font-size: 25px;
    }

    .landing_page_sub_header {
        max-width: 220px;
        font-size: 12px;
    }
}

@media screen and (max-width: 350px) {
    .how_card_header {
        font-size: 20px;
        line-height: 25px;
    }

    .early_birds_header {
        font-size: 20px;
        line-height: 25px;
    }

    .how_card_sub_heading {
        font-size: 12px;
        line-height: 20px;
    }

    .input {
        width: 200px;
        font-size: 0.7rem;
    }
}


@media screen and (max-width: 320px) {
    .landing_page_services_row {
        flex-direction: column;
        justify-content: column;
        align-items: center;
    }

    .image_container {
        width: 200px;
        height: 145px;
    }

    .text {
        font-size: 12px;
    }

    .explore_image_container {
        width: 200px;
        height: 300px;
    }

    .explore_card_title {
        font-size: 13px;
    }

    .explore_card_location {
        font-size: 12px;
    }

    /* .bucket_list_page_search_container {
        width: 250px;
    } */
}

@media screen and (max-width: 280px) {
    .landing_page_header {
        max-width: 200px;
        font-size: 20px;
    }

    .landing_page_sub_header {
        max-width: 180px;
        font-size: 12px;
    }
}

@media screen and (max-width: 250px) {
    .how_image_container {
        height: 250px;
        width: 140px;
    }
}