.personal_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
}

.profile_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.header {
    font-size: 2.5rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    /* color: #fff; */
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 48px;
    text-align: center;
    /* letter-spacing: 1px; */
    color: #141416;
}

.profile_details_container {
    max-width: 1000px;
    width: 100%;
    /* height: 80%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    align-content: center;
}

.profile_details_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.profile_details_item_row {
    margin: 0 15px;
}

.personal_info_label {
    text-transform: uppercase;
    font-size: 14px;
}

.personal_info_input {
    display: block;
    margin-top: 7px;
    margin-bottom: 20px;
    padding: 0.6rem;
    font-size: 1rem;
    border-radius: 10px;
    outline: none;
    border: 2px solid #ccc;
    width: 400px;
    color: #000;
    transition: all 0.3s ease-in-out; 

}

.personal_info_input:focus {
    border: 2px solid #252748;
    transition: all 0.3s ease-in-out;
}

.personal_info_button {
    margin-top: 7px;
    margin-left: 30px;
    margin-bottom: 25px;
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 40px;
    outline: none;
    /* border: 2px solid #ccc; */
    color: #FCFCFD;
    transition: all 0.3s ease-in-out; 
    width: 170px;
    height: 48px;
    background: #92A5EF;
    border-radius: 90px;
    border: none;
    outline: none;
    cursor: pointer;
}

.personal_info_button:hover {
    background: #2b44a8;
    color: #FCFCFD;
    transition: all 0.3s ease-in-out; 
}

.permission {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 30px 0 30px;
    box-shadow: 0px 9px 40px -18px rgba(119, 126, 144, 0.499385);
    transition: all 0.3s ease-in-out;
    margin-bottom: 2rem;
}

.permission:hover {
    transform: translateY(5px);
    transition: all 0.3s ease-in-out;
}

.permission_container {
    display: flex;
    flex-direction: column;
}

.permission_item {
    display: flex;
    flex-direction: row;
    margin: 8px 0 30px;
    justify-content: space-between;
}

.permission_item_content {
    /* margin: 0 20px; */
}

.permission_header {
    text-transform: uppercase;
}

@media screen and (max-width: 1100px) {
    .personal_info_input {
        width: 300px;
    }
}

@media screen and (max-width: 830px) {
    .personal_info_input {
        width: 300px;
    }
}

@media screen and (max-width: 700px) {
    .personal_info_input {
        width: 400px;
    }
    .profile_details_item {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .personal_info_input {
        width: 300px;
    }
} 

@media screen and (max-width: 400px) {
    .personal_info_input {
        width: 270px;
        font-size: 0.8rem;
    }
} 

@media screen and (max-width: 345px) { 
    .personal_info_label {
        font-size: 12px;
    }
}


@media screen and (max-width: 300px) { 
    .header {
        font-size: 2.3rem;
    }
    .personal_info_input {
        width: 240px;
    }
}