.payment_page_title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 56px;
    letter-spacing: -0.7px;
    color: #23262F;
    margin-bottom: 20px;
}

.info_container {
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation {
    font-size: 14px;
    color: #353945;
}

.navigation span {
    color: #B1B5C3;
}

.payment_page_button {
    width: 50%;
    margin: 1rem auto;
    padding: 15px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: #fff;
    background: #92A5EF;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.payment_page_button:hover {
    outline: none;
    border: none;
    background: #4d5b94;
    transition: all 0.3s ease-in-out;
}

.cart_line {
    height: 1px;
    width: 70%;
    color: #ecf0f7;
    margin: 1.5rem auto;
    border: 1px solid #ecf0f7;
}

.payment_page_label {
    text-transform: uppercase;
    font-size: 14px;
}

.payment_page_input {
    display: block;
    margin-top: 7px;
    margin-bottom: 20px;
    padding: 0.6rem;
    font-size: 1rem;
    border-radius: 10px;
    outline: none;
    border: 2px solid #ccc;
    width: 350px;
    color: #000;
    transition: all 0.3s ease-in-out;

}

.payment_page_input:focus {
    border: 2px solid #252748;
    transition: all 0.3s ease-in-out;
}

.return_to_explore {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #23262F;
}

.select_container select {
    width: 320px;
    font-family: "Poppins";
    font-size: 17px;
    padding: 10px 40px 10px 10px;
    margin: 0.5rem auto;
    border: 1px solid #E6E8EC;
    border-radius: 14px;
    outline: none;
    background-color: #fff;
}

select::-ms-expand {
    display: none;
}

.saved_contact_info {
    margin: 1rem auto;
}

.saved_contact_info h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #23262F;
    margin: 0.5rem auto 1rem;
}

.card_info_container {
    border: 2px solid #E6E8EC;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 15px;
    margin-right: 20px;
}

.card_info_details {
    margin-bottom: 20px;
}

@media screen and (max-width: 770px) {
    .payment_page_container {
        flex-direction: column;
        justify-content: center;
    }

    .info_container {
        width: 90%;
        margin: 20px auto;
    }
}

@media screen and (max-width: 700px) {
    .payment_page_input {
        width: 400px;
    }
}

@media screen and (max-width: 570px) {
    .select_container select {
        width: 250px;
    }

    .cart_line {
        width: 220px;
    }

    .payment_page_button {
        margin-right: 10px;
    }
}

@media screen and (max-width: 550px) {
    .payment_page_input {
        width: 300px;
    }
}

@media screen and (max-width: 400px) {
    .payment_page_input {
        width: 300px;
    }
}

@media screen and (max-width: 390px) {
    .payment_page_title {
        font-size: 25px;
    }
}

@media screen and (max-width: 380px) {
    .select_container select {
        width: 200px;
        font-size: 14px;
    }

    .cart_line {
        width: 160px;
    }
}

@media screen and (max-width: 345px) {
    .payment_page_input {
        width: 250px;
        font-size: 0.8rem;
    }

    .payment_page_label {
        font-size: 12px;
    }
}

@media screen and (max-width: 300px) {
    .payment_page_input {
        width: 200px;
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 260px) {
    .cart_line {
        width: 110px;
    }

    .select_container select {
        width: 120px;
        font-size: 10px;
    }

    .payment_page_title {
        font-size: 20px;
    }
}