.background {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    top: 0;
    transition: all 0.3s ease-in-out;
}

.security_modal_wrapper {
    width: 700px;
    height: 500px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    background: #fff;
    color: #000;
    position: relative;
    z-index: 10;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.header {
    font-size: 2.5rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    /* color: #fff; */
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 48px;
    text-align: center;
    letter-spacing: 1px;
    color: #141416;
}

.title {
    font-size: 1rem;
    font-weight: 400;
    /* color: #fff; */
    margin-bottom: 2.5rem;
    color: #777E90;
    font-size: 16px;
    line-height: 24px;
    word-spacing: 0.6px;
    letter-spacing: 0.3px;
}

.button {
    margin-top: 1rem;
    padding: 10px 24px;
    background: #92A5EF;
    color: #fff;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    background: #2b44a8;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.inputStyle {
    width: 3rem !important;
    height: 3rem;
    margin: 0 0.6rem;
    font-size: 1.5rem;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    word-wrap: break-word;
}

.code_eyes_icon {
    font-size: 1.5rem;
}

.input_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.code_input {
    width: 60px;
    height: 60px;
    padding: 15px;
    margin: 0 15px 20px 0;
    font-size: 2rem;
    border-radius: 10px;
    border: 2px solid #131316;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.code_input:focus {
    outline: none;
    border: 2px solid #15154d;
    transition: all 0.3s ease-in-out;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

@media screen and (max-width: 830px) {

    /* .security_modal_wrapper {
        width: 80%;
        transform: translateX(80px);
    } */
    .title {
        font-size: 0.8rem;
    }

    .header {
        font-size: 2rem;
    }
}

@media screen and (max-width: 750px) {
    .security_modal_wrapper {
        width: 500px;
        /* transform: translateX(10px); */
    }
}

@media screen and (max-width: 700px) {
    .header {
        margin-bottom: 0.8rem;
        line-height: 30px;
    }

    .title {
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width: 650px) {
    .security_modal_wrapper {
        padding: 20px;
    }
}

@media screen and (max-width: 530px) {
    .security_modal_wrapper {
        width: 400px;
    }

    .inputStyle {
        width: 2rem !important;
        height: 2rem;
        margin: 0 0.3rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 420px) {
    .security_modal_wrapper {
        width: 370px;
    }
}

@media screen and (max-width: 415px) {
    .header {
        font-size: 1.5rem;
    }

    .code_input {
        width: 40px;
        height: 40px;
        padding: 10px;
        margin: 0 10px 15px 0;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 370px) {
    .security_modal_wrapper {
        width: 330px;
    }
}

@media screen and (max-width: 350px) {
    .title {
        font-size: 0.8rem;
    }

    .radio_content {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 340px) {
    .security_modal_wrapper {
        width: 300px;
    }
}

@media screen and (max-width: 310px) {
    .security_modal_wrapper {
        width: 280px;
    }
}

@media screen and (max-width: 280px) {
    .security_modal_wrapper {
        width: 260px;
        padding: 20px 10px;
    }

    .inputStyle {
        width: 1.8rem !important;
        height: 1.8rem;
        margin: 0 0.3rem;
        font-size: 1rem;
    }
}


@media screen and (max-width: 250px) {
    .security_modal_wrapper {
        width: 230px;
        padding: 20px 10px;
    }

    .inputStyle {
        width: 1.5rem !important;
        height: 1.5rem;
        margin: 0 0.3rem;
        font-size: 0.8rem;
    }
}