.explore_page_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    /* height: 100%; */
    max-width: 97%;
    margin: auto;
}

.explore_page_header {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #fafafa; */
    margin-bottom: 10px;
    overflow: hidden;
}

.explore_page_header::before {
    content: "";
    width: 97%;
    height: 80vh;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: url("../../images/explore_header.jpg") center center no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.85;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    animation: pop-in 2.5s forwards;
}


@keyframes pop-in {
    from {
        transform: scale(0.9);
    }
}

.explore_tab_menu {
    margin: 20px auto;
}

.explore_tab_menu_title_active {
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
    padding: 0 10px 2px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 3px red solid;
    cursor: pointer;
}

.explore_tab_menu_title {
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
    padding: 0 10px 2px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.explore_page_header_text {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.explore_page_header_description {
    font-size: 1rem;
    color: #000;
    margin-bottom: 20px;
    word-wrap: break-word;
}

.explore_page_search_container {
    background: #fafafa;
    padding: 15px;
    background: linear-gradient(30.13deg, #ececf4 14.92%, rgb(204 204 225 / 83%) 99.51%);
    border: 1px solid #FCFCFD;
    border-radius: 24px;
    margin: 10px 10px 50px 10px;
    z-index: 2;
    width: 90%;
}

.explore_page_header_title {
    font-size: 2.5rem;
    font-weight: 400;
    color: #000000;
    text-shadow: 0px 0px 10px rgba(216, 216, 216, 0.5);
    z-index: inherit;
}

.explore_page_search_form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.explore_page_search_featured_form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.explore_page_search_input {
    width: 40%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #e2e0e0;
    padding: 0px 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
    margin-right: 20px;
    text-shadow: 0px 0px 10px rgba(216, 216, 216, 0.5);
}

.explore_page_search_input:focus {
    outline: none;
}

.explore_page_search_featured_input {
    width: 80%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #e2e0e0;
    padding: 0px 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
    margin-right: 20px;
    text-shadow: 0px 0px 10px rgba(216, 216, 216, 0.5);
}

.explore_page_search_featured_input:focus {
    outline: none;
}

.explore_page_search_third_input {
    width: 40%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #e2e0e0;
    padding: 0px 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
    margin-right: 20px;
    text-shadow: 0px 0px 10px rgba(216, 216, 216, 0.5);
}

.explore_page_search_third_input:focus {
    outline: none;
}

.explorer_page_third_party_select {
    width: 20%;
    height: 40px;
    border-radius: 10px;
    padding: 0px 10px;
    font-size: 0.8rem;
    color: #000000;
    text-shadow: 0px 0px 10px rgba(216, 216, 216, 0.5);
}

.explorer_page_third_party_select:focus {
    outline: none;
}

.scroll_button {
    margin-bottom: 20px;
}

.date_input {
    width: 30%;
    height: 35px;
    border-radius: 10px;
    border: 2px solid #e2e0e0;
    padding: 0px 10px;
    font-size: 0.9rem;
    transition: all 0.3s ease-in-out;
    margin-right: 15px;
}

.explore_page_search_button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #92A5EF;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    outline: none;
    align-items: center;
    /* margin-left: 15px; */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.explore_page_search_button:hover {
    background: #4b61b9;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.preferences_tag_container {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.scroll_button {
    margin-bottom: 80px;
}

.search_result_field {
    text-align: center;
}

.explore_navigation_button {
    min-width: 100px;
    padding: 0.5rem;
    border-radius: 20px;
    background: #a4adc7;
    color: rgb(11, 15, 19);
    cursor: pointer;
    margin: 0.5rem;
    transition: all 0.2s ease-in-out;
    outline: none;
    border: none;
}

/* .explore_navigation_button:hover {
    background: #859cd7;
    color: rgb(3, 5, 26);
    transition: all 0.2s ease-in-out;
}

*/

.third_party_date_picker {
    width: 25%;
    margin-right: 10px;
    padding: 10px;
    color: black;
    background: white;
    outline: none;
    border: none;
    border-radius: 10px;
}

.explore_page_select.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    position: relative;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    height: 40px;
    overflow-y: scroll;
}

@media screen and (max-width: 650px) {

    .explore_page_search_featured_form {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .explore_page_search_third_input,
    .third_party_date_picker,
    .explorer_page_third_party_select {
        width: 80% !important;
        margin: auto;
        margin-bottom: 10px;
    }

    .explore_page_search_form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .explore_page_search_container {
        width: 400px;
    }

    .date_input {
        width: 80%;
        height: 40px;
        margin-bottom: 10px;
    }

    .explore_page_search_input {
        width: 80%;
        height: 40px;
        margin-bottom: 10px;
    }

    /* .explorer_page_third_party_select {
        width: 80%;
        height: 40px;
        margin-left: -10px;
        margin-bottom: 10px;
    } */
}



@media screen and (max-width: 420px) {
    .explore_page_search_container {
        width: 300px;
    }
}

@media screen and (max-width: 320px) {
    .explore_page_search_container {
        width: 250px;
    }

    .explore_page_search_featured_input {
        font-size: 0.8rem;
    }

    .explore_tab_menu_title_active,
    .explore_tab_menu_title {
        font-size: 1rem;
        margin-left: 5px;
        margin-right: 5px;
        padding: 0 6px 2px;
    }
}

@media screen and (max-width: 250px) {

    .explore_tab_menu_title_active,
    .explore_tab_menu_title {
        font-size: 0.8rem;
        margin-left: 2px;
        margin-right: 2px;
    }
}