.bucket_list_page_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    /* height: 100%; */
    max-width: 97%;
    margin: auto;
}

.bucket_list_page_header {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #fafafa; */
    margin-bottom: 40px;
    overflow: hidden;
}


.bucket_list_page_header::before {
    content: "";
    width: 97%;
    height: 80vh;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: url("../../images/explore_header.jpg") center center no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.85;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    animation: pop-in 2.5s forwards;
}


.bucket_list_page_header_text {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.bucket_list_page_header_description {
    font-size: 1rem;
    color: #000;
    margin-bottom: 20px;
    word-wrap: break-word;
}

.bucket_list_page_search_container {
    background: #fafafa;
    padding: 15px;
    background: linear-gradient(30.13deg, #ececf4 14.92%, rgb(204 204 225 / 83%) 99.51%);
    border: 1px solid #FCFCFD;
    backdrop-filter: blur(21.7463px);
    border-radius: 24px;
    margin: -70px 10px 50px 10px;
    z-index: 2;
}

.bucket_list_page_header_title {
    font-size: 2.5rem;
    font-weight: 400;
    color: #000000;
    text-shadow: 0px 0px 10px rgba(216, 216, 216, 0.5);
    z-index: inherit;
}

.bucket_list_page_search_form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.bucket_list_page_search_input {
    width: 80%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #e2e0e0;
    padding: 0px 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
    margin-right: 20px;
    text-shadow: 0px 0px 10px rgba(216, 216, 216, 0.5);
}

.bucket_list_page_search_input:focus {
    outline: none;
}

.explorer_page_select {
    width: 20%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #e2e0e0;
    padding: 0px 10px;
    font-size: 0.8rem;
    color: #000000;
    text-shadow: 0px 0px 10px rgba(216, 216, 216, 0.5);
}

.explorer_page_select:focus {
    outline: none;
}

.date_input {
    width: 30%;
    height: 35px;
    border-radius: 10px;
    border: 2px solid #e2e0e0;
    padding: 0px 10px;
    font-size: 0.9rem;
    transition: all 0.3s ease-in-out;
    margin-right: 15px;
}

.bucket_list_page_search_button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #92A5EF;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    outline: none;
    display: flex;
    align-content: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.bucket_list_page_search_button:hover {
    background: #4b61b9;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.preferences_tag_container {
    width: 80%;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    align-self: center;
    overflow: hidden;
}

.scroll_button {
    margin-bottom: 80px;
}

.preferences_not_clicked {
    min-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 20px;
    background: #fff;
    color: #353945;
    cursor: pointer;
    margin: 0.5rem;
    border: 2px solid #ccc;
    transition: all 0.2s ease-in-out;
}

.preferences_not_clicked:hover {
    background: #353945;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

.preferences_clicked {
    min-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 20px;
    background: #353945;
    color: #fff;
    cursor: pointer;
    margin: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.preferences_clicked:hover {
    background: #1b1d22;
    color: fff;
    transition: all 0.2s ease-in-out;
}

.navigation_button {
    min-width: 100px;
    padding: 0.5rem;
    border-radius: 20px;
    background: #353945;
    color: #fff;
    cursor: pointer;
    margin: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.navigation_button:hover {
    background: #1b1d22;
    color: fff;
    transition: all 0.2s ease-in-out;
}


@media screen and (max-width: 650px) {
    .bucket_list_page_search_form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .bucket_list_page_search_container {
        width: 400px;
    }

    .date_input {
        width: 80%;
        height: 40px;
        margin-bottom: 10px;
    }

    .bucket_list_page_search_input {
        width: 80%;
        height: 40px;
        margin-bottom: 10px;
    }

    .explorer_page_select {
        width: 80%;
        height: 40px;
        margin-left: -10px;
        margin-bottom: 10px;
    }
}



@media screen and (max-width: 420px) {
    .bucket_list_page_search_container {
        width: 300px;
    }
}

@media screen and (max-width: 320px) {
    .bucket_list_page_search_container {
        width: 250px;
    }
}