
/* Personal Info Page */
.personal_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
}

.profile_details_container {
    max-width: 1000px;
    width: 100%;
    /* height: 80%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    align-content: center;
}

.profile_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    font-size: 2.5rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    /* color: #fff; */
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 48px;
    text-align: center;
    /* letter-spacing: 1px; */
    color: #141416;
}

.preferences_label {
    text-transform: uppercase;
    font-size: 16px;
}

.profile_details_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.profile_details_item_row {
    margin: 0 15px;
}

.personal_info_label {
    text-transform: uppercase;
    font-size: 14px;
}

.personal_info_input {
    display: block;
    margin-top: 7px;
    margin-bottom: 20px;
    padding: 0.6rem;
    font-size: 1rem;
    border-radius: 10px;
    outline: none;
    border: 2px solid #ccc;
    width: 400px;
    color: #000;
    transition: all 0.3s ease-in-out; 

}

.personal_info_input:focus {
    border: 2px solid #252748;
    transition: all 0.3s ease-in-out;
}

.personal_info_button {
    margin-top: 7px;
    margin-left: 30px;
    margin-bottom: 25px;
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 40px;
    outline: none;
    /* border: 2px solid #ccc; */
    color: #FCFCFD;
    transition: all 0.3s ease-in-out; 
    width: 170px;
    height: 48px;
    background: #92A5EF;
    border-radius: 90px;
    border: none;
    outline: none;
    cursor: pointer;
}

.personal_info_button:hover {
    background: #2b44a8;
    color: #FCFCFD;
    transition: all 0.3s ease-in-out; 
}

.places_been_to {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    background: #adb6da;
    color: #000;
    cursor: pointer;
    margin: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.places_been_to:hover {
    background: #6f7eb9;
    color: black;
    transition: all 0.2s ease-in-out;
}

.preferences_tab {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.preferences_tag_container {
    padding: 0 2rem;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-self: center;
}

.preferences_clicked {
    padding: 0.5rem;
    border-radius: 20px;
    background: #adb6da;
    color: #000;
    cursor: pointer;
    margin: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.preferences_clicked:hover {
    background: #6f7eb9;
    color: black;
    transition: all 0.2s ease-in-out;
}

.preferences_button {
    margin-top: 7px;
    margin-left: 30px;
    margin-bottom: 25px;
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 40px;
    outline: none;
    /* border: 2px solid #ccc; */
    color: #FCFCFD;
    transition: all 0.3s ease-in-out; 
    width: 170px;
    height: 48px;
    background: #252748;
    border-radius: 90px;
    border: none;
    outline: none;
    cursor: pointer;
}

.preferences_button:hover {
    background: #0f1022;
    color: #FCFCFD;
    transition: all 0.3s ease-in-out; 
}

@media screen and (max-width: 1100px) {
    .personal_info_input {
        width: 300px;
    }
}

@media screen and (max-width: 850px) {
    .profile_details_item {
        flex-direction: column;
    }
}

@media screen and (max-width: 830px) {
    .personal_info_input {
        width: 300px;
    }
}

@media screen and (max-width: 700px) {
    .personal_info_input {
        width: 260px;
    }
}

@media screen and (max-width: 500px) {
    /* .personal_info_input {
        width: 300px;
    } */
}

@media screen and (max-width: 400px) {
    .personal_info_input {
        width: 300px;
        font-size: 0.8rem;
    }
    .preferences_label {
        font-size: 14px;
    }
}

@media screen and (max-width: 345px) {  
    .personal_info_input {
        width: 250px;
    }
    .personal_info_label {
        font-size: 12px;
    }
    .preferences_label {
        font-size: 12px;
    }
}

@media screen and (max-width: 300px) { 
    .header {
        font-size: 2.5rem;
    }
    /* .personal_info_input {
        width: 200px;
        font-size: 0.7rem;
    } */
}